*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    margin-left: 30px;
}
nav{
    width: 50%;
    height: 100px;
    background-color: lightgrey;
    font-style: verdana;
}

    ul{
        margin-left: 60px;

}

ul li{
list-style: none;
display: inline-block;
line-height: 100px;
float: left;
font-style: verdana;
}

ul li a{
    text-decoration: none;
    font-size: 15px;
    font-family:verdana;
    color:black;
    padding: 0 20px;
    display: block;
    font-style: verdana;
}

ul li a:hover{
    color: cornflowerblue
    
}
p{
    font-size: 15px;
    color: cornflowerblue;
    font-style: verdana;
}

img {
    max-width:10%;
    height:auto;
    margin-top: 2%;
    border-radius: 20%;
}

a{
    font-size:12px;
    color: cornflowerblue;
    font-style: verdana;
    
}
div{
    width:3000px;
    length: 2000px;
    font-size: 19px;
    color:cornflowerblue;
    margin-top: 1%;
    margin-bottom: 2%;
    font-style: verdana;
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid cornflowerblue; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    font-family: verdana;
  }
  
  input[type=submit] {
    background-color: cornflowerblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: verdana;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  h{
      font: verdana;
      color:white;
  }

  h1{
    font: verdana;
    color:white;
  }